.sfondoTesto {
    background-color: #a3e8dc;
    color: #004c74;
}

.sfondo {
    background-color: #a3e8dc;
    color: #004c74;
}

#bottone-modal {
    color: white;
    border-color: white;
}

.nav-link {
    color: white;
}

.content {
    background-color: #004c74;
}

h2 {
    color: #ff8a21;
}

h3 {
    color: #ff8a21;
}

.modal-content {
    background-color: #004c74;
    opacity: 100%;
    color: white;
}

.modal-backdrop {
    background-color: #a3e8dc;
}

#emailHelp {
    color: lightgray;
}

#sezione-contenuti p {
    color: white;
}

.sezione {
    display: none;
}

#navVert {
    width: 90%;
    background-color: #004c74;
}

#sezione-contenuti {
    padding: 30px;
    background-color: #004c74;
    color: white;
}

@media screen and (max-width: 767px) {
    #navVert {
        width: 80%;
        text-align: center;
    }
}