h4 {
    background-color: #373434
}

.btn-card{
        border-color:#f64242; 
        color: white;
        background-color: #f64242;
    }
    
    .btn-card:hover{
        border-color: #ff8a21;
        color: white;
        background-color:#ff8a21;
    }

#nomedest1, #nomedest2,#nomedest3{
    background-color: #f64242b0;
    padding: 5%;
    font-size: medium;
}

