p{
    color: #004c74 ;
}

#cardFaq{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 5%;  
}

#cartaSingola{
    margin: 3%;
    padding: 22px 15px 18px 21px;
    border: 2pt solid var(--tertiary-blue, #419895);
    border-radius: 8px;
    height: 156px;
}

#cartaSingola:hover{
    color: aliceblue;
    background-color: #49a9a66d;
    border-color: #4198959f;
}

.card-title{
    color: #419895;
}

.card-link{
    color:#004c74;
    font-style:bold;
}

h3{
    color: #ba2644;
    margin: 3%;
}

.linkRitorno{
    color: #004c74;
}

#navbarina{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #cdececa0;
    padding: 1%;
    height: 0%;
    margin-bottom :1%;
}

ol.breadcrumb{
    margin-bottom: 0%;
    color: #004c74;
}

#casa{

    color: #004c74;
}