main {
    flex: 1;
}

body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #a3e8dc;
}

.contenuto{
    background-color: #f8f9fa;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    background-color: #a3e8dc;
}

.logo {
    width: 45%;
    height: auto;
}


.btn {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ba2644;
    border-color: #ba2644;
    /*004c74 colore blu */
}

.btn:hover {
    color: aliceblue;
    background-color: #ba2644;
}

#dropdown {
    display: none;
}

.modal-content {
    background-color: #004c74;
    opacity: 100%;
    color: black;
}

#bottone-modal {
    color: white;
    border-color: white;
}

#formtext {
    color: white;
}

#formcheck {
    color: white;
    float: inline-start;
}

.modal-backdrop {
    background-color: #a3e8dc;
}

#emailHelp {
    color: lightgray;
}

#registerHelp {
    color: lightgray;
}

#menu {
    display: none;
}

#footer {
    color: #004c74;
    background-color: #a3e8dc;
}

@media screen and (max-width: 576px) {
    .logo {
        height: 100%;
        width: 100%;
    }

    .icons {
        display: none;
    }

    #navbar {
        display: none;
    }

    #dropdown {
        display: inline;
    }

    #menu {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 577px) {

    .logo {
        height: 100%;
        width: 100%;
    }

    #menu {
        display: inline;
    }

    #navbar {
        display: none;
    }
}

