  body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 0 20px;
            background-color: #f4f4f4;
        }

        h1, h2, h3 {
            color: #333;
            text-align: center; /* Centra i titoli nella pagina */
        }

        .intro {
            font-size: 10px;
            margin-bottom: 30px;
        }

        .btn-primary {
            margin-top: 30px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 30px;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        /* Stili aggiuntivi per migliorare la leggibilità su schermi più piccoli */
        @media (max-width: 768px) {
            body {
                margin: 10px;
                padding: 0 10px;
            }
            .intro {
                font-size: 1em;
            }
            .btn-primary {
                margin-top: 20px;
                padding: 8px 16px;
                font-size: 1.2em;
            }
        }