#imgpacchetto{
    background-image: url("../assets/img/roma.jpg");
    background-position: center;
    color: white;
    
}

.titolopacchetto{
    display: inline-block;
    background-color: #ff8921b8;
}

#titoloPacchetto{
    padding-left: 6%;

}
.titoloPacchettoCitta{
    display: inline-block;
    color:#004c74;
}

p{
    color:#004c74;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}


#CardPacchetto{
    height: 0%;
}

#BottoneAcq{
    border-color: #ff8a21; 
    color: white;
    background-color: #ff8a21;
}

#BottoneAcq:hover{
    border-color: #f64242;
    color: white;
    background-color:#f64242;

}